{% extends "main/base.html" %}
{% block content %}
<style>
    body{
        background-color: rgb(255, 255, 255);
    }
    a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>
    <div class="container">

        {% for item in itemsF %}
            {% with fave=item.favorites.all %}
            <h1>{{ item.nomeRant}}</h1>
            <p style="margin: 2%; border:solid;">{{ item.tipo }}</p>
             {% if request.user in fave %}
                <a href="#" class="disabled btn btn-dark"> Favorite  </a>
             {% else %}
                  <a href="{% url 'add_fav' item.id %}" > Favorite  </a>
             {% endif %}
{#            <button id="FavoriteButton" onclick="increment()">Favorite</button>#}
{#        <script>#}
{#            var buttons = document.getElementsByTagName('button');#}
{#            for(let i=0;i<buttons.length;i++){  #}
{#                buttons[i].addEventListener('click', function(event){#}
{#                    event.target.disabled = true; #}
{#                });#}
{#            }#}
{#            function increment() {#}
{#                alert(`Você curtiu essa avaliação!`);#}
{#            }#}
{#        </script>#}
        <hr>
            {% endwith %}
        {% endfor %}
    </div>

{% endblock content %}