{% extends "main/base.html" %}
{% block content %}
<style>
    body{
        background-color: rgb(255, 255, 255);
    }
</style>
    <div>
        <h1>Avaliar o restaurante</h1>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button  class=" btn btn-primary" type="submit">Avaliar</button>
        </form>
        <form action = "{% url 'like_rate' '2' %}"
        method="POST">
            {% csrf_token %}
        </form>
        
    </div>
{% endblock content %}